.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
}
.navigation-links-text1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.navbar-text {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-family: Exo 2;
  font-weight: 800;
  text-transform: uppercase;
}
.navbar-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image {
  width: 106px;
}
.navbar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-primary-btn {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.navbar-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-text1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar-primary-btn1 {
  color: #000000;
  background-color: #6bd9e4;
}
.navbar-root-class-name {
  background-color: var(--dl-color-backgrounds-green);
}
@media(max-width: 767px) {
  .navbar-nav {
    display: none;
  }
  .navbar-primary-btn1 {
    display: none;
  }
}

.copyright-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.copyright-max-width {
  align-items: stretch;
}
.copyright-text {
  color: var(--dl-color-grays-gray100);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}
.copyright-root-class-name {
  height: var(--dl-size-size-xsmall);
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .copyright-max-width {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  height: 1232px;
  display: flex;
  position: relative;
  padding-top: var(--dl-space-space-twounits);
  background-color: #8e8e8e;
}
.home-max-width {
  width: 1000px;
  height: 360px;
  display: flex;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #D9D9D9;
}
.home-image {
  width: 472px;
  height: 312px;
  object-fit: cover;
}
.home-content-container {
  flex: 1;
  width: 200px;
  height: 262px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-ul {
  width: 580px;
  height: 282px;
  margin-bottom: 42px;
}
.home-link {
  text-decoration: none;
}
.home-max-width1 {
  width: 1000px;
  height: 360px;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #D9D9D9;
}
.home-image1 {
  width: 472px;
  height: 312px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  width: 200px;
  height: 262px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-ul1 {
  width: 580px;
  height: 282px;
  margin-bottom: 42px;
}
.home-max-width2 {
  width: 1000px;
  height: 360px;
  align-self: center;
  align-items: stretch;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #D9D9D9;
}
.home-image2 {
  width: 472px;
  height: 312px;
  object-fit: cover;
}
.home-content-container2 {
  flex: 1;
  width: 200px;
  height: 262px;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-ul2 {
  width: 580px;
  height: 282px;
  margin-bottom: 42px;
}
@media(max-width: 991px) {
  .home-max-width {
    flex-direction: column;
  }
  .home-content-container {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-max-width1 {
    flex-direction: column;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
}
